version: '3.4'
services:
  Envelopes_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: Envelopes1_Active,Envelopes5_Active,Envelopes15_Active,Envelopes30_Active
      SETFILE: /opt/sets/EURUSD/EA31337-Envelopes_Active.set
      TEST_REPORT_NAME: EA31337-Envelopes_Active
      BT_DEST: /opt/_results/EURUSD
  Envelopes1_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: Envelopes1_Active
      SETFILE: /opt/sets/EURUSD/EA31337-Envelopes1_Active.set
      TEST_REPORT_NAME: EA31337-Envelopes1_Active
      BT_DEST: /opt/_results/EURUSD
  Envelopes5_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: Envelopes5_Active
      SETFILE: /opt/sets/EURUSD/EA31337-Envelopes5_Active.set
      TEST_REPORT_NAME: EA31337-Envelopes5_Active
      BT_DEST: /opt/_results/EURUSD
  Envelopes15_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: Envelopes15_Active
      SETFILE: /opt/sets/EURUSD/EA31337-Envelopes15_Active.set
      TEST_REPORT_NAME: EA31337-Envelopes15_Active
      BT_DEST: /opt/_results/EURUSD
  Envelopes30_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: Envelopes30_Active
      SETFILE: /opt/sets/EURUSD/EA31337-Envelopes30_Active.set
      TEST_REPORT_NAME: EA31337-Envelopes30_Active
      BT_DEST: /opt/_results/EURUSD
