version: '3.4'
services:
  MACD_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: MACD1_Active,MACD5_Active,MACD15_Active,MACD30_Active
      SETFILE: /opt/sets/EURUSD/EA31337-MACD_Active.set
      TEST_REPORT_NAME: EA31337-MACD_Active
      BT_DEST: /opt/_results/EURUSD
  MACD1_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: MACD1_Active
      SETFILE: /opt/sets/EURUSD/EA31337-MACD1_Active.set
      TEST_REPORT_NAME: EA31337-MACD1_Active
      BT_DEST: /opt/_results/EURUSD
  MACD5_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: MACD5_Active
      SETFILE: /opt/sets/EURUSD/EA31337-MACD5_Active.set
      TEST_REPORT_NAME: EA31337-MACD5_Active
      BT_DEST: /opt/_results/EURUSD
  MACD15_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: MACD15_Active
      SETFILE: /opt/sets/EURUSD/EA31337-MACD15_Active.set
      TEST_REPORT_NAME: EA31337-MACD15_Active
      BT_DEST: /opt/_results/EURUSD
  MACD30_Active:
    command: run_backtest -v
    build:
      context: ../../..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../../../EA-Tester.ini
    environment:
      SET_PARAMS: MACD30_Active
      SETFILE: /opt/sets/EURUSD/EA31337-MACD30_Active.set
      TEST_REPORT_NAME: EA31337-MACD30_Active
      BT_DEST: /opt/_results/EURUSD
