version: '3.4'
services:
  EURUSD_Account_Conditions_Active:
    command: run_backtest -v
    build:
      context: ..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../EA-Tester.ini
    environment:
      SET_PARAMS: Account_Conditions_Active
      RUN_ON_SET: set_opt_params Account_Conditions_Active 0 1
      SETFILE: /opt/sets/EURUSD/EA31337-Account_Conditions_Active.set
      TEST_REPORT_NAME: EA31337-Account_Conditions_Active
  EURUSD_Action_On_Condition_1:
    command: run_backtest -v
    build:
      context: ..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../EA-Tester.ini
    environment:
      SET_PARAMS: Account_Condition_1 Market_Condition_1 Action_On_Condition_1
      RUN_ON_SET: set_opt_params Market_Condition_1 1 19; set_opt_params Action_On_Condition_1 0 13
      SETFILE: /opt/sets/EURUSD/EA31337-Action_On_Condition_01.set
      TEST_REPORT_NAME: EA31337-Action_On_Condition_01
  EURUSD_Action_On_Condition_2:
    command: run_backtest -v
    build:
      context: ..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../EA-Tester.ini
    environment:
      SET_PARAMS: Account_Condition_2 Market_Condition_2 Action_On_Condition_2
      RUN_ON_SET: set_opt_params Market_Condition_2 1 19; set_opt_params Action_On_Condition_2 0 13
      SETFILE: /opt/sets/EURUSD/EA31337-Action_On_Condition_02.set
      TEST_REPORT_NAME: EA31337-Action_On_Condition_02
  EURUSD_Action_On_Condition_3:
    command: run_backtest -v
    build:
      context: ..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../EA-Tester.ini
    environment:
      SET_PARAMS: Account_Condition_3 Market_Condition_3 Action_On_Condition_3
      RUN_ON_SET: set_opt_params Market_Condition_3 1 19; set_opt_params Action_On_Condition_3 0 13
      SETFILE: /opt/sets/EURUSD/EA31337-Action_On_Condition_03.set
      TEST_REPORT_NAME: EA31337-Action_On_Condition_03
  EURUSD_Action_On_Condition_4:
    command: run_backtest -v
    build:
      context: ..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../EA-Tester.ini
    environment:
      SET_PARAMS: Account_Condition_4 Market_Condition_4 Action_On_Condition_4
      RUN_ON_SET: set_opt_params Market_Condition_4 1 19; set_opt_params Action_On_Condition_4 0 13
      SETFILE: /opt/sets/EURUSD/EA31337-Action_On_Condition_04.set
      TEST_REPORT_NAME: EA31337-Action_On_Condition_04
  EURUSD_Action_On_Condition_5:
    command: run_backtest -v
    build:
      context: ..
      target: eurusd-2018
    image: ea31337:eurusd-2018
    volumes:
    - ./sets:/opt/sets:rw
    - ./_results/EURUSD:/opt/_results/EURUSD:rw
    env_file: ../EA-Tester.ini
    environment:
      SET_PARAMS: Account_Condition_5 Market_Condition_5 Action_On_Condition_5
      RUN_ON_SET: set_opt_params Market_Condition_5 1 19; set_opt_params Action_On_Condition_5 0 13
      SETFILE: /opt/sets/EURUSD/EA31337-Action_On_Condition_05.set
      TEST_REPORT_NAME: EA31337-Action_On_Condition_05
